{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "presets": ["react-native"],
      "plugins": [
        "transform-inline-environment-variables", {
          "include": [
            "NODE_ENV"
          ]
        }]
    }
  }
}
